In [24]:
import pandas as pd
import numpy as np
import joblib
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [25]:
# Load the dataset from a CSV file
df = pd.read_csv('data_inflasi_indonesia_clean.csv')
df

     no_id periode_inflasi data_inflasi
0        1        5/1/2024        2.84%
1        2        4/1/2024        3.00%
2        3        3/1/2024        3.05%
3        4        2/1/2024        2.75%
4        5        1/1/2024        2.57%
..     ...             ...          ...
253    254        4/1/2003        7.62%
254    255        3/1/2003        7.17%
255    256        2/1/2003        7.60%
256    257        1/1/2003        8.68%
257    258       12/1/2002        0.00%

[258 rows x 3 columns]

In [26]:
# Convert 'periode_inflasi' to datetime format
df['periode_inflasi'] = pd.to_datetime(df['periode_inflasi'], format='%m/%d/%Y')

# Extract year and month from 'periode_inflasi'
df['year'] = df['periode_inflasi'].dt.year
df['month'] = df['periode_inflasi'].dt.month

# Clean 'data_inflasi' to remove '%' and convert to float
df['data_inflasi'] = df['data_inflasi'].str.rstrip('%').astype(float)
df

     no_id periode_inflasi  data_inflasi  year  month
0        1      2024-05-01          2.84  2024      5
1        2      2024-04-01          3.00  2024      4
2        3      2024-03-01          3.05  2024      3
3        4      2024-02-01          2.75  2024      2
4        5      2024-01-01          2.57  2024      1
..     ...             ...           ...   ...    ...
253    254      2003-04-01          7.62  2003      4
254    255      2003-03-01          7.17  2003      3
255    256      2003-02-01          7.60  2003      2
256    257      2003-01-01          8.68  2003      1
257    258      2002-12-01          0.00  2002     12

[258 rows x 5 columns]

In [27]:
# Update features and target
X = df[['year', 'month']]
y = df['data_inflasi']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Save the model
joblib.dump(rf_model, 'random_forest_model.pkl')

# Load the model
loaded_rf_model = joblib.load('random_forest_model.pkl')

# Evaluate the model
y_pred_rf = loaded_rf_model.predict(X_test)
mae_rf = mean_absolute_error(y_test, y_pred_rf)
mse_rf = mean_squared_error(y_test, y_pred_rf)
rmse_rf = np.sqrt(mse_rf)
r2_rf = r2_score(y_test, y_pred_rf)

print(f"Random Forest - MAE: {mae_rf}, MSE: {mse_rf}, RMSE: {rmse_rf}, R²: {r2_rf}")

# Function to predict inflation based on year and month
def predict_inflation(year, month):
    input_data = pd.DataFrame({'year': [year], 'month': [month]})
    prediction = loaded_rf_model.predict(input_data)
    return prediction[0]

Random Forest - MAE: 0.6527365384615387, MSE: 1.562134910576919, RMSE: 1.2498539556991923, R²: 0.5765652811708796

In [28]:
# Example usage
year_to_predict = 2024
month_to_predict = 5
predicted_inflation = predict_inflation(year_to_predict, month_to_predict)
print(f"Predicted inflation for {month_to_predict}/{year_to_predict}: {predicted_inflation:.2f}%")

Predicted inflation for 5/2024: 3.00%

In [29]:
import pandas as pd
import numpy as np
import joblib
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Load the dataset from a CSV file
df = pd.read_csv('data_inflasi_indonesia_clean.csv')

# Convert 'periode_inflasi' to datetime format
df['periode_inflasi'] = pd.to_datetime(df['periode_inflasi'], format='%m/%d/%Y')

# Extract year and month from 'periode_inflasi'
df['year'] = df['periode_inflasi'].dt.year
df['month'] = df['periode_inflasi'].dt.month

# Clean 'data_inflasi' to remove '%' and convert to float
df['data_inflasi'] = df['data_inflasi'].str.rstrip('%').astype(float)

# Update features and target
X = df[['year', 'month']]
y = df['data_inflasi']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Save the model
joblib.dump(rf_model, 'random_forest_model.pkl')

# Load the model
loaded_rf_model = joblib.load('random_forest_model.pkl')

# Evaluate the model
y_pred_rf = loaded_rf_model.predict(X_test)
mae_rf = mean_absolute_error(y_test, y_pred_rf)
mse_rf = mean_squared_error(y_test, y_pred_rf)
rmse_rf = np.sqrt(mse_rf)
r2_rf = r2_score(y_test, y_pred_rf)

print(f"Random Forest - MAE: {mae_rf:.4f}, MSE: {mse_rf:.4f}, RMSE: {rmse_rf:.4f}, R²: {r2_rf:.4f}")

# Function to predict inflation based on year and month
def predict_inflation(year, month):
    input_data = pd.DataFrame({'year': [year], 'month': [month]})
    prediction = loaded_rf_model.predict(input_data)
    return prediction[0]

# Example usage
year_to_predict = 2024
month_to_predict = 5
predicted_inflation = predict_inflation(year_to_predict, month_to_predict)
print(f"Predicted inflation for {month_to_predict}/{year_to_predict}: {predicted_inflation:.2f}%")

Random Forest - MAE: 0.6527, MSE: 1.5621, RMSE: 1.2499, R²: 0.5766
Predicted inflation for 5/2024: 3.00%